@import "_base";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
	position: relative;
  	padding-top: 60px;
}
a:hover ,
a:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
	}
input:focus, textarea:focus, keygen:focus, select:focus {
outline: none;
}
.no-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.pos-point {
	position: relative;
}
.go-left {
	left: 5%;
}
.go-right {
	right: 5%;
}
.full-l {
	width: 100% !important;
}
.half {
	float: left;
	width: 50% !important;
}
.forth-fifth {
	float: left;
	width: 80% !important;
}
.border-b {
	border-bottom: 1px solid $tx-col;
}
.border-t {
	border-top: 1px solid $tx-col;
}
.underconstruction {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $tx-col;
			color: $bg-col;
			line-height: 40px;
			@include opacity(0.9);
			z-index: 5;
			span.icon-tools {
				font-size: 36px;
				}
				&.opened {
					display: none;
				}
			}
/*************************
************MENU**********
*************************/
.navbar-header {
    		.menu-trigger {
    			display: none;
    			position: relative;
    			float: right;
    			width: 40px;
    			height: 30px;
    			margin: 15px 15px 0 0;
    			cursor: pointer;
    			&.activeted {
					-webkit-transform: translateZ(0);
					@include transition(all 0.2s);
					@include animation(clickor 2.5s infinite);
				> span {
					background: #fff;
						}
					}
    			> span {
    			 display: block;
    			 position: absolute;
    			 width: 100%;
    			 height: 1px;
    			 background: $tx-col;
    			 @include transition(all 0.5s);
    			 &.top {
    			 	top: 0;
    			 }
    			 &.middle {
    			 	top: 14px;
    			 }
    			 &.bottom {
    			 	bottom: 0;
    			 }
    			}
    			&.open {
    				> span {
    					&.top {
		    			 	transform: translateY(15px) rotate(-45deg);
		    			}
		    			&.middle {
		    			 	@include rotateY(90deg);
		    			}
		    			&.bottom {
		    			 	transform: translateY(-14px) rotate(45deg);
		    			}
    				}
    			}
    		}
    	}
.navigation {
	position: relative;
	float: right;
	line-height: 1.5;
	> ul {
		> li {
			float: left;
			> a {
				float: left;
				padding: 20px 15px;
				text-decoration: none;
				@include transition-property(all);
  				@include transition-duration(0.550s);
			}
		}
	}
	#menu {
		float: left;
		position: relative;
		z-index: 1;
		> li:hover .hover-menu {
		display: block;
		}
		> li.active > a,
		> li:hover > a
		 {
			color: #fff;
		}
	}
	&.activeted {
		-webkit-transform: translateZ(0);
		@include transition(all 0.2s);
		@include animation(clickor 2.5s infinite);
		> ul > li > a {
			color: #fff;
		}
	}
}

.hover-menu {
	width: 100%;
		position: absolute;
		top: 60px;
		display: none;
		background: $bg-col;
		border-top: 1px solid $tx-col;
		li {
			position: relative;
			padding: 8px;
			@include transition-property(all);
  			@include transition-duration(0.250s);
			&:hover {
				background: $tx-col;
			}
			&:hover a {
				color: $bg-col;
			}
			a {
				text-decoration: none;
				@include transition-property(all);
  				@include transition-duration(0.250s);
			}
		}
		[class^="icon-"], [class*=" icon-"] {
			float: left;
			font-size: 25px;
			margin-right: 8px;
		}
		.nav-link {
			float: none;
			display: block;
		}
		.subtitle {
			text-transform: none;
			color: #fff;
			font-size: 12px;
		}
		
	}
/* magic line */
#magic-line {
		height: 100%;
		width: 0px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: $tx-col;
		-webkit-transform: translateZ(0);
		@include transition(width 0.2s, left 0.3s);
  		z-index: -1;
	}

/*************************
**********SLIDER**********
*********** & ************
**********SLIDES**********
*************************/
#bgsvg {
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 500px;
  -webkit-transform: translateZ(0);
}
#bgsvgnx {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 1700px;
  -webkit-transform: translateZ(0);
}
#slider {
	section {
		width: 100%;
		background: $bg-col;
	}
}
.slide-content {
	position: absolute;
	width: 66%;
	top: 15%;
	z-index: 1;
	h2 {
		font-size: 48px;
		line-height: 0.9;
		margin: 0 0 20px 0;
	}
	p {
		margin: 0 0 20px 0;
	}
	&.first {
		right: 5%;
	}
	&.second{
		left: 5%;
	}
	&.third{
		right: 5%;
	}
}
.graphic {
	position: absolute;
	&.first {
		width: 29%;
		top: 10%;
		left: 5%;
		.icon-cog {
			position: absolute;
			display: block;
			-webkit-transform: translateZ(0);
			&.first {
				display: block;
				font-size: 12rem;
				left: 85px;
				@include animation(spinright 5s linear 0s infinite normal);
			}
			&.second {
				font-size: 10rem;
				left: 30px;
				top: 90px;
				@include animation(spinright 5s linear 0s infinite normal);
			}
			&.third {
				color: #f2ef97;
				font-size: 5rem;
				left: 120px;
				top: 110px;
				@include animation(spinleft 2s linear 0s infinite normal);
			}
		}
	}
	&.second {
		width: 17%;
		top: 19%;
		right: 10%;
		img {
			width: 100%;
			height: auto;
		}
		span {
			position: absolute;
			display: block;
			font-size: 0;
			-webkit-transform: translateZ(0);
			@include animation(bubblepopup 5s ease-in 0s infinite normal);
		}
		.icon-plus2 {
			color: #04c461;
			&.first {
				top: 20%;
				left: 30%;
				@include animation-delay(0.3s);
			}
			&.second {
				top: 35%;
				left: 65%;
				@include animation-delay(0.5s);
			}
			&.third {
				top: 63%;
				left: 12%;
				@include animation-delay(1.2s);
			}
		}
		.icon-minus2 {
			color: #ff0000;
			&.first {
				top: 0;
				left: 59%;
			}
			&.second {
				top: 44%;
				left: 22%;
				@include animation-delay(0.8s);
			}
			&.third {
				top: 56%;
				left: 77%;
				@include animation-delay(1s);
			}
		}
	}
	&.third {
		width: 29%;
		height: 100%;
		left: 5%;
		span {
			position: absolute;
		}
		.icon-monitor {
			font-size: 18rem;
			top: 30px;
		}
		.icon-phone {
			font-size: 6rem;
			color: #fff;
			top: 170px;
			left: 160px;
		}
		.icon-tablet {
			font-size: 8rem;
			top: 200px;
			left: -30px;
		}
		.icon-ipod {
			font-size: 5rem;
			color: #e356c7;
			top: 250px;
			left: 60px;
		}
	}
}
.carousel-inner {
	.item {
		height: 400px;
		}
}
/* controls & indicators */
#carousela {
	.controls {
		position: absolute;
		width: 100%;
		bottom: 10px;
		text-align: center;
		z-index: 15;
		.carousel-control {
			width: 34px;
			height: 34px;
			position: static;
			display: inline-block;
			color: $nx-col;
			font-size: 34px;
			@include transition(color 0.4s);
			@include opacity(1);
			&:hover , &:active  {
				color: $tx-col;
			}
			.icon-forward {
				margin-left: -7px;
			}
	}
	.carousel-indicators {
		position: static;
		width: auto;
		margin: 0;
		display: inline-block;
		li {
			height: 34px;
			width: 34px;
			margin: 0;
			border: none;
			text-indent: 0;
			background: none;
			color: $nx-col;
			@include transition(color 0.4s);
			&.active {
			height: 34px;
			width: 34px;
			margin: 0;
			color: $tx-col;
			}
			span {
				font-size: 34px;
			}
		}
	}
	}
	
}
/*************************
**********PARALLAX********
*************************/
.plx-w {
	overflow: hidden;
}
.direction {
	height: 95px;
	padding-top: 25px;
	p {
		text-align: center;
		font-size: 12px;
		line-height: 1;
		@include transition(color 0.4s);
		span {
			position: relative;
			font-size: 40px;
			-webkit-transform: translateZ(0);
			@include animation(jump 0.6s ease-in-out 0s infinite normal);
		}
	}
	&.deactivate {
		p {
			color: $nx-col;
			span {
			@include animation(none);
			}
		}
	}
	
}
/* content */
.plx-w {
	&.archimedes {
		height: 500px;
		.plx-item {
			position: relative;
			height: 800px;
			width: 100%;
			top: -150px;
			background-image: url(../images/archimedes2.jpg);
			background-size: cover;
			background-position: center 30%; 
			background-repeat: no-repeat;
		}
	}
	&.design {
		height: 500px;
		.plx-item {
			position: relative;
			height: 800px;
			width: 100%;
			top: -150px;
			background-image: url(../images/design2.jpg);
			background-size: cover;
			background-position: center center; 
			background-repeat: no-repeat;
		}
	}
	&.constructor {
		height: 500px;
		.plx-item {
			position: relative;
			height: 800px;
			width: 100%;
			top: -150px;
			background-image: url(../images/constructor2.jpg);
			background-size: cover;
			background-position: center 10%; 
			background-repeat: no-repeat;
		}
	}

}
.plx-w {
	.txt {
		position: absolute;
		width: 60%;
		top: 37%;
		z-index: 1;
		h3 {
		position: relative;	
		padding-left: 106px;
		font-size: 48px;	
		text-transform: uppercase;
		span {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 96px;
			}
		}
	}
}

/*************************
**********BUTTONS*********
*************************/
.baton {
	float: right;
	width: 230px;
	height: 48px;
	position: relative;
	padding: 5px 8px;
	font-size: 12px;
	line-height: 1;
	z-index: 1;
	@include transition(color 0.3s ease-in);
	&:hover , &:active {
		color: $bg-col;
		text-decoration: none;
	}
	span {
		float: left;
		font-size: 36px;
		margin-right: 5px;
	}
	&:visited ,
	&:focus {
		text-decoration: none;
	}
	&:after {
		height: 100%;
		width: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		background: $tx-col;
		z-index: -1;
		@include transition(all 0.2s ease-in);
	}
	&:hover:after ,
	&:active:after {
		width: 100%;
	}
}
.baton-container {
	margin: 10px 0;
}
/*************************
*******PAGE CONTENT*******
*************************/
.main-content {
	margin-top: 75px;
	header {
		width: 100%;
		float: left;
		margin-bottom: 20px;
			h3,
			h2,
			h1,
			p {
				margin: 5px 0;
				font-size: 24px;
				text-transform: uppercase;
				line-height: 0.9;
			}
			span {
				float: left;
				margin-right: 10px;
				font-size: 50px;
			}			
	}
	header.mini {
		float: left;
		width: 100%;
		margin-bottom: 15px;
			h3 {
				margin: 5px 0;
				font-size: 18px;
				text-transform: uppercase;
				line-height: 0.9;
			}
			span {
				float: left;
				margin-right: 5px;
				font-size: 36px;
			}			
	}
	.info-box {
		overflow: hidden;
			   img {
			   	display: block;
			   	width: 100%;
			   	max-width: 300px;
			   	height: auto;
			   	margin: 0 auto;
			   }
			   .inner {
			   	position: absolute;
			   	width: 100%;
			   	height: 100%;
			   	top: 0;  
			   	left: 0;
			   	&.front {
			   		padding: 15px;
			   		background: $tx-col;
			   		p {
			   			position: relative;
			   			min-height: 40px;
			   			margin-bottom: 20px;
			   			font-size: 12px;
			   			color: $bg-col;	
			   			padding-left: 55px;	
			   			line-height: 1.1;   			
			   		[class^="icon-"],
			   		[class*=" icon-"] {
			   			position: absolute;
			   			top: 0;
			   			left: 0;
						font-size: 40px;
			   				}
			   			}
			 
			   		}   	
			   }
		}
}
.click-or-hover {
	display: block;
	height: 20px;
	width: 154px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -77px;
	background: $bg-col;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid $tx-col;
	-webkit-transform: translateZ(0);
	@include transition(all 0.2s);
	@include animation(clickor 2.5s infinite);
	cursor: default;
}

/*************************
*********PORTFOLIO********
*************************/
.ajaxload {
	position: fixed;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1040;
	color: #fff;
}
#single-portfolio-landing {
	width: 100%;
	@include transition(all 0.9s);
}

#single-portfolio-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1040;
	background: rgba(29, 24, 31, 0.8);
	.scrollable {
		overflow-y: scroll;
		width: 100%;
		height: 100%;
	}
	.portfolio-baton {
		position: relative;
		float: right;
		width: 90px;
		height: 90px;
		margin: 40px 0 40px 0;
		padding: 15px;
		background-color: $bg-col;
		cursor: pointer;
		text-align: center;
		span {
			font-size: 60px;
			color: $nx-col;
			@include transition(color 0.25s);
			&:hover , &:active {
				color: $tx-col;
			}
		}
	}
	.portfolio-thumbnail {
		float: left;
		height: 350px;
		width: 50%;
		background-image: url(../images/monika.jpg);
		background-size: cover;
		background-position: center top;	
		background-repeat: no-repeat;	
	}
	.portfolio-info-chart {
		overflow: hidden;
		height: 350px;
		width: 50%;
		background-color: $bg-col;
		padding: 15px 25px;
		h3 {
			margin: 0 0 5px 0;
			font-size: 30px;
			color: #fff;
		}
		.excerpt {
			font-size: 14px;
			line-height: 18px;
		}
		a.baton , p.baton {
			width: 210px;
			height: 36px;
			padding: 0;
			color: $nx-col;
			&:hover {
				color: $tx-col;
			}
			&:hover:after ,
			&:active:after {
				display: none;
			}
		}
		.custom-fields {
			> p {
				width: 210px;
				height: auto;
				padding: 0;
				color: $tx-col;
				.field-title {
					float: none;
					display: block;
					margin-bottom: 3px;
					font-size: 12px;
				}
				.work {
					float: none;
					display: block;
					color: #fff;
					font-size: 12px;
					text-transform: uppercase;
				}
				a {
					color: #fff;
					&:hover , &:active {
						text-decoration: underline;
					}
				}
				.spacer {
					float: none;
					margin: 0;
					font-size: 12px;
					color: #fff;
				}
			}
		}
	}
	.portfolio-content {
		> img ,
		  .hammy-responsive {
		  		float: left;
				max-width: 100%;
				height: auto;
				margin-top: 40px;
				background-color: $bg-col;
				padding: 25px;
			}
		p {
			float: left;
			max-width: 100%;
			margin-top: 40px;
			background-color: $bg-col;
			padding: 25px;
			> img ,
			  .hammy-responsive {
				max-width: 100%;
				height: auto;
				}
			a {
				img ,
				.hammy-responsive {
				max-width: 100%;
				height: auto;
				}
			}
		}
		strong {
			font-size: 17px;
			line-height: 15px;
			text-transform: uppercase;
		}
		a {
			color: #fff;
			&:hover , &:active {
				text-decoration: underline;
			}
		}
	}
}
#bgsvgportfolio {
	height: 100%;
}
.info-box.portfolio-item {
	height: 300px;	
	&.first {
		background-image: url(../images/monika.jpg);
		background-size: cover;	
		background-repeat: no-repeat;	
	}
	&.second {
		background-image: url(../images/teatrparanoja.jpg);	
		background-size: cover;
		background-repeat: no-repeat;	
	}
	&.third {
		background-image: url(../images/leszekchwastek.jpg);
		background-size: cover;	
		background-repeat: no-repeat;	
	}
	h4 {
		margin: 0 0 30px 0;
		color: $bg-col;
		font-size: 16px;
	}
	.inner.front {
		padding: 30px;
		p {
		font-size: 14px;
		text-transform: uppercase;
		}
	}
	.baton {
		color: $bg-col;
	&:hover , &:active {
		color: #fff;
		}
	&:after {
		background: $bg-col;
		}
	}
}
.portfolio-box {
	position: relative;
	float: left;
	width: 33.3333333333333333%;
	.info-box.portfolio-item {
	height: 270px;
		.inner.front {
		padding: 15px;
			p {
		font-size: 13px;
			}
		}
		h4 {
		margin: 0 0 25px 0;
		font-size: 16px;
		}
	}	
}
.filters-container {
	overflow: hidden;
}
#filter-trigger {
	color: $nx-col;
	cursor: pointer;
	display: none;
	@include transition(all 0.250s);
	&.active ,
	&:hover , &:active {
			color: $tx-col;
		}
	p {
		text-align: right;	
	}
}
#kind-filter {
	margin-bottom: 20px;
	li {
		margin-bottom: 5px;
		padding: 0 15px;
		background-color: $nx-col;
		color: $bg-col;
		font-size: 18px;
		line-height: 40px;
		text-transform: uppercase;
		cursor: pointer;
		@include transition(all 0.250s);
		&.active ,
		&:hover , &:active {
			background-color: $tx-col;
			color: #fff;
		}
	}
}
#mix-container {
	.mix {
		display: none;
	}
}
.witget {
	overflow: hidden;
	margin-bottom: 15px;
	#kind-filter {
		float: left;		
	}
	header.mini {
		margin-bottom: 10px;
	}
}
#time-sort {
	.sort {
		float: left;
		margin-right: 5px;
		padding: 0 10px;
		background-color: $nx-col;
		color: $bg-col;
		font-size: 16px;
		line-height: 36px;
		text-transform: uppercase;
		cursor: pointer;
		@include transition(all 0.250s);
		&.active ,
		&:hover , &:active {
			background-color: #fff;
		}
	}
}
#tech-filter {
	ul {
		float: left;
		width: 100%;
		li {
			float: left;
			margin: 0 5px 5px 0;
			background-color: $nx-col;
			color: $bg-col;
			padding: 2px 5px;
			text-transform: uppercase;
			cursor: pointer;
			@include transition(all 0.250s);
			&.active ,
			&:hover , &:active {
			background-color: #fff;
			color: $tx-col;
			}
		}
	}
}
/*************************
**********CONTACT*********
*************************/
.contact {
	margin-bottom: 20px;
	.sprite-photo {
		height: 250px;
		width: 250px;
		margin: 0 auto 10px auto;
		background: url(../images/photo-sprite.jpg) no-repeat;
		border-radius: 50%;
		border: 5px solid $tx-col;
	}
	a {
		text-decoration: none;
	}
	ul {
		overflow: hidden;
		li {
			float: left;
			margin: 15px 0 0 0;
			@include transition(all 0.5 ease-in);
			a {
				@include transition(all 0.5 ease-in);
				&:hover , &:active {
				color: #fff;
				}
			}

		}
		&.deactivate {
			li {
				color: $nx-col;
				a {
					color: $nx-col;
				}
			}
		}
	}
	[class^="icon-"], [class*=" icon-"] {
		font-size: 40px;
		float: left;
		margin-right: 15px;
	}
}

.bio {
	margin-bottom: 30px;
}

/*************************
************BLOG**********
*************************/
.blog-item {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	.preview {
		float: left;
		img {
			width: 225px;
			height: auto;
			margin: 0 20px 20px 0;
		}
	}
	.article-content {
		.article-title {
		font-size: 18px;
		margin: 0;
	}
	.article-date ,
	.tags {
		float: left;
		margin-bottom: 5px;
		font-size: 10px;
		color: #fff;
		.icon-calendar ,
		.icon-tag {
			float: left;
			font-size: 20px;
			margin-right: 5px;	
			}
			a {
			color: #fff;
				&:hover , &:active {
					text-decoration: underline; 
				}
			}
		}
		.article-info {
			overflow: hidden;
			margin-bottom: 10px;
		}
	}
	.article-date {
		margin-right: 10px;
	}
	.baton {
		color: #fff;
		&:hover , &:active {
			color: $bg-col;
		}
	}	
}
.blog-item-full {
	img ,
	.hammy-responsive {
		float: left;
		width: 100%;
		height: auto;
		margin: 0;
	}
	.article-content {
		float: left;
		width: 100%;
		> img ,
		  .hammy-responsive {
		  		margin-top: 20px;
				max-width: 100%;
				height: auto;
				}	
			p {
				margin-top: 20px;
				img ,
				.hammy-responsive {
					max-width: 100%;
					height: auto;
					}
				a {
					img ,
					.hammy-responsive {
					max-width: 100%;
					height: auto;
					}
				}
			}
			strong {
				font-size: 17px;
				line-height: 15px;
				text-transform: uppercase;
			}
			a {
				color: #fff;
				&:hover , &:active {
					text-decoration: underline;
				}
			}
			ul {
				padding-left: 28px;
			}
			table {
				tr {
					td {
						border: 1px solid $tx-col;
						padding: 5px;
					}
				}
			}
			code , pre {
				display: block;
				margin-top: 20px;
				border: none;
				padding: 15px;
				background: $tx-col;
				color: #fff;
				font-family: 'SourceCodeProSemibold', Helvetica, sans-serif;
			}
	}
	.baton {
		margin-top: 20px;
		color: #fff;
			&:hover , &:active {
				color: $bg-col;
			}
		}
		
}
.info {
	float: left;
	width: 20%;
}
#kind-filter.blog {
	li {
		padding: 0;
		a {
			display: block;
			padding: 0 15px;
			background-color: $nx-col;
			color: $bg-col;
			line-height: 40px;
			@include transition(all 0.250s);
			&.active,
			&:hover , &:active {
			color: #fff;
			background-color: $tx-col;
			}
		}
	}
}
.witget {
	h2 , p {
		float: left;
		width: 100%;
		margin: 0 5px 5px 0;
		padding: 0 8px;
		background: #fff;
		font-size: 18px;
		color: $bg-col;
		line-height: 40px;
		text-transform: uppercase;		
	}
	> p {
		width: auto;
		padding: 0 6px;
		font-size: 16px;
		line-height: 36px;	
	}
	#kind-filter.blog {
		margin: 0;
		li {
			margin: 0 5px 5px 0;
			float: left;
			font-size: 14px;
			a {
			padding: 0 8px;
			line-height: 30px;
			&.active,
			&:hover , &:active {
			color: $bg-col;
			background-color: #fff;
			}
		}
	}
	&.tags {
		li {
			font-size: 13px;
			a {
			padding: 0 5px;
			line-height: 24px;			
			&.active,
			&:hover , &:active {
			color: $tx-col;
			background-color: #fff;
					}
				}
			}
		}
	&.posts {
			li {
				display: inline;
				font-size: 14px;
				line-height: 0;
				&:hover , &:active {
					background-color: $nx-col;
				}
				a {
				display: inline;
				background: none;
				padding: 0;
				color: #fff;
				line-height: 1.2;			
				&.active,
				&:hover , &:active {
				color: $tx-col;
						}
					}
				}
			}
		}
	}
.blogy-nav {
	float: left;
	width: 100%;
	text-align: center;
	a {
		position: relative;
		text-transform: uppercase;
		color: $nx-col;
		@include transition(all 0.250s);
		&:hover , &:active {
			color: $tx-col;
		}
		span {
			position: absolute;
			top: -6px;	
			font-size: 25px;
			&.prev {
				left: -33px;
			}
		}
	}
}
/*************************
***********FOOTER*********
*************************/
/* home */
.border-bd {
	border: 5px solid $tx-col;
}
footer {
	margin-top: 20px;
	.content {
		height: 220px;
		ul {
			li {
				span {
	  		position: absolute;
			font-size: 36px;
			&.first {
				top: 20%;
				left: 20%;
			}
			&.second {
				top: 60%;
				left: 50%;
			}
			&.third {
				top: 25%;
				left: 70%;
			}
			&.fourth {
				top: 15%;
				left: 60%;
			}
			&.fifth {
				top: 50%;
				left: 30%;
			}
			&.sixth {
				top: 10%;
				left: 80%;
			}
			&.seventh {
				font-size: 40px;
				top: 60%;
				left: 47%;
			}
		}
			}
		}
		.game-over {
			position: relative;
			width: 40%;
			min-width: 215px;
			height: 126px;
			margin: 57px auto 0 auto;
			padding: 12px;
			background: $bg-col;
			z-index: 1;
			p {
				margin: 0;
				font-size: 36px;
				text-transform: uppercase;
				text-align: center;
			}
			.baton {
				width: 100%;
			}
		}
	}
	.copy {
		height: 40px;
		line-height: 40px;
	}
}
/* second footer */
footer.main-content {
	margin-top: 20px;
	header.mini {
		margin: 10px 0 5px 0;
		h3 {
			font-size: 15px;
		}
	}	
}
.mini-box {
		display: block;
		overflow: hidden;
		width: 100%;
		height: 150px;
		margin-bottom: 10px;
		.info-box.portfolio-item {
			height: 150px;
			.inner.front {
				padding: 10px;
				h4 {
					margin: 0 0 10px 0;
					font-size: 12px;
				}
				p {
					min-height: 30px;
					margin: 0 0 5px 0;
					padding-left: 40px;
					font-size: 10px;
					[class^="icon-"],
					[class*=" icon-"] {
						font-size: 30px;
					}
				}
			}
		}	
	}
